@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

body {
    font-family: 'Merienda One', cursive;
    font-size: medium;
    width: 100%;
}



.sidenav {
    height: 100%;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 50%;
    }

    .register-form {
        margin-top: 20%;
    }
}


.login-main-text {
    font-family: "Sigmar one", cursive;
    margin-top: 20%;
    padding: 1rem;
    color: #000;
}

p {
    font-family: 'Merienda One', cursive;
    font-weight: 600;
    margin: auto 0;
}

#user.form-control {
    text-align: center;
    border-radius: 1rem;
    border-color: #000;
}

.form-group>label:nth-child(1) {
    margin-top: 1.5rem;
}


.form-group {
    font-weight: 700;
}

#pwd.form-control {
    text-align: center;
    border-radius: 1rem;
    border-color: #000;
    margin-bottom: 1.5rem;
}

.login-main-text h2 {
    font-weight: 500;
    font-size: 3rem;
    display: flex;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
    margin-bottom: 0.5rem;
}