@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body>div {
    margin: auto 0;
}

label {
    text-align: center;
}

#formBuscar>div {
    border: 0.1rem solid transparent;
    margin: auto;
    width: fit-content;
}

.btn-black {
    color: #ffffff !important;
    background-color: black !important;
}

.btn-black:hover {
    text-decoration: none;
    color: #fff;
}

h3 {
    font-size: larger !important;
    text-align: center;
    font-family: 'Merienda One', cursive !important;
}