@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

* {
    margin: 0;
    padding: 0;

}


html,
body {
    display: block;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

body>main>div.p-4.p-md-5.mb-4.text-white.rounded.bg-dark {
    margin-top: 1rem;
}

.p-4.mb-3.bg-light.rounded {
    background-color: #212529 !important;

}

body>main>div.row.g-5>div.col-md-4>div>div.p-4.mb-3.bg-light.rounded>h4 {
    color: white;
}

body>main>div.row.g-5>div.col-md-4>div>div.p-4.mb-3.bg-light.rounded>p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.display-4 {
    font-size: 2.5rem;
}

@media {
    .display-4 {
        font-size: 3rem;
    }
}


/* Paginação */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;

}


.blog-post {
    margin-bottom: 4rem;
    display: block;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

body>main>div.row.g-5>div.col-md-4>div>div:nth-child(3)>ol>li>a>span {
    color: black;
    font-size: xx-large;
}

body>main>div.row.g-5>div.col-md-8>article>article>article>nav>a {
    color: black;
    border-color: black;
}

body>main>div.row.g-5>div.col-md-8>article>article>article>nav>:hover {
    background-color: lightblue;
}